*{
    margin: 0;
    padding: 0;
}
html, body, #app{
    height: 100%;
    ul, li{
        list-style: none;
    }
    // 分页的输入框长度
    .ivu-page-simple .ivu-page-simple-pager input {
        width: 40px;
    }

}